/web/target/
/user/user-servece-object/target/
/base/base-util/target/
/hero/hero-service-object/target/
/user/user-dao-jdbc/target/
/user/user-web/target/
/hero/hero-dao-model/target/
/hero/hero-web/target/
/hero/hero-dao-jdbc/target/
/user/user-dao-model/target/
/armor/armor-service-object/target/
/hero/hero-dao-model/target/
/hero/hero-dao-jdbc/target/
/hero/hero-service-object/target/
/base/base-util/target/
/hero/hero-web/target/
/user/user-dao-model/target/
/user/user-servece-object/target/
/user/user-dao-jdbc/target/
/web/target/
/user/user-web/target/
/armor/armor-dao-model/target/
/armor/armor-service-object/target/
/armor/armor-web/target/
/.project
/pets/pets-dao-model/target/
/pets/pets-dao-jdbc/target/
/pets/pet-service-object/target/
/pets/pets-service-object/target/
/armor/armor-dao-jdbc/target/
/speciesspecialproperty/ssp-dao-model/target/
/speciesspecialproperty/ssp-web/target/
/pets/pets-web/target/
/empires/empires-dao-model/target/
/empires/empires-dao-jdbc/target/
/empires/empires-service-object/target/
/empires/empires-web/target/