/ssp/ssp-dao-jdbc/target/
/ssp/ssp-dao-model/target/
/ssp/ssp-web/target/
/hero/hero-dao-jdbc/target/
/hero/hero-dao-model/target/
/base/base-util/target/
/hero/hero-service-object/target/
/hero/hero-web/target/
/user/user-dao-model/target/
/user/user-dao-jdbc/target/
/user/user-servece-object/target/
/user/user-web/target/
/pets/pets-dao-jdbc/target/
/pets/pets-dao-model/target/
/pets/pets-web/target/
/pets/pets-service-object/target/
/empires/empires-dao-model/target/
/empires/empires-service-object/target/
/empires/empires-dao-jdbc/target/
/empires/empires-web/target/
/weapons/weapons-dao-model/target/
/weapons/weapons-dao-jdbc/target/
/weapons/weapons-service-object/target/
/weapons/weapons-web/target/
/settlements/settlements-dao-model/target/
/settlements/settlements-dao-jdbc/target/
/settlements/settlements-service-object/target/
/settlements/settlements-web/target/
/web/target/
/armor/armor-dao-model/target/
/armor/armor-web/target/
/armor/armor-dao-jdbc/target/
/armor/armor-service-object/target/
*.iml
.idea
/goodsOfEmpires/goodsOfEmpires-dao-model/target/
/goodsOfEmpires/goodsOfEmpires-dao-jdbc/target/
/goodsOfEmpires/goodsOfEmpires-service-object/target/
/goodsOfEmpires/goodsOfEmpires-web/target/
/ssp/ssp-service-object/target/
/factories/factories-dao-model/target/
/factories/factories-dao-jdbc/target/
/factories/factories-service-object/target/